.card{
    text-align: center;
    max-width: 45rem;
    width: 45%;
    margin: auto;
    margin-top: 2rem;
    position: relative;
    background-color: #fff;
    /* background-image: linear-gradient(rgba(80, 79, 79, 0.336), rgba(189, 186, 186, 0)), url('../../assets/background.jpg');
    background-size:cover; */
    color: #222;
    text-transform: uppercase;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.404);
    cursor: pointer;
    animation: slide-down 300ms ease-out forwards;
}

.card h2{
  font-weight: 400;
}

.card:hover{
    transform: scale(1.05);
}

.container{
    display: flex;
    flex-wrap: wrap;
}

@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }