.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #778DA9;
    border: none;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  
  .form button:hover,
  .form button:active {
    background-color: rgb(255, 255, 255);
    color: #222;
  }